<div class="page-header" *ngFor="let team of teamDetails$ | async">
    <h3>{{team.name}}</h3>
    <p class="lead">{{team.description}}</p>
    <div class="d-flex align-items-center">
        <app-avatar-list 
            [members]="team.members">
        </app-avatar-list>  
    </div>
</div>
<hr>

<app-tabset 
    [tabsetTitle]="(title$ | async)!">
</app-tabset>

<div class="tab-content mt-3">
    <div class="content-list">
        <div class="row content-list-head">
            <div class="col-auto">
            <h3>Projects</h3>
            </div>
        </div>
        <div class="content-list-body row">
            <app-project-card 
                class="col-lg-6" 
                *ngFor="let project of projectsInTeam$ | async"
                [title]="project.name"
                [dueDate]="project.dueDate | dueDate: 'fullDate'"
                [percentage]="project.percentage"
                [isVisible]="false"
                >    
                
            </app-project-card>
        </div>
    </div>
</div>